<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="restaurant, food, dining" />
    <meta name="description" content="En iyi yemek deneyimini sunan Deneme Restoran'ın resmi web sitesi." />
    <meta name="author" content="Deneme Restoran" />
    <link rel="shortcut icon" href="~/feane-1.0.0/images/favicon.png" type="image/png">

    <title>Deneme Restoran </title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="~/feane-1.0.0/css/bootstrap.css" />

    <!-- Owl Carousel stylesheet -->
    <link rel="stylesheet" type="text/css" href="~/feane-1.0.0/css/owl.carousel.min.css" />

    <!-- Nice Select stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <!-- Font Awesome style -->
    <link href="~/feane-1.0.0/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="~/feane-1.0.0/css/style.css" rel="stylesheet" />
    <!-- Responsive style -->
    <link href="~/feane-1.0.0/css/responsive.css" rel="stylesheet" />
</head>
